* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* border: 1px solid red; */
}

html {
    --purple: #471f3a;
    --yellow: #fec900;
    --gap: 1;
}

::selection {
    color: #000;
    background-color: var(--yellow);
}

body {
    background-color: var(--purple);
    font-family: "Roboto", sans-serif;
    color: #fff;
    text-align: center;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

.font-silkscreen {
    font-family: "Silkscreen", sans-serif;
}

.header {
    position: fixed;
    top: 0;
    height: 80px;
    padding: 0 30px;
    width: 100%;
    background-color: var(--purple);
    display: flex;
    flex-wrap: no-wrap;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    width: 30%;
}

.logo {
    width: 100%;
    height: auto;
    padding: 0 10px;
    max-width: 200px;
}

.header-nav {
    width: 70%;
}

.header-menu {
    display: flex;
    align-items: center;
    justify-content: end;
    font-weight: 400;
}

.menu {
    display: flex;
    align-items: center;
    list-style-type: none;
    justify-content: space-between;
}

nav li {
    margin: 0 10px;
}

.menu-item>a {
    text-decoration: none;
    color: inherit;
    box-shadow: inset 0 0 0 0 var(--yellow);
    transition: color 0.3s ease-in-out, box-shadow .3s ease-in-out;
}

.menu-item>a:hover {
    color: var(--purple);
    box-shadow: inset 250px 0 0 0 var(--yellow);
}

#main {
    margin-top: 80px;
}

.hero {
    height: auto;
    width: auto;
    /* max-height: 80vh; */
}

.background-main {
    background-image: url("https://media-exp1.licdn.com/dms/image/C4E16AQFquoDiQ1RwQw/profile-displaybackgroundimage-shrink_350_1400/0/1646535744502?e=1666224000&v=beta&t=SIyvUg0jB_kuaXV7NO9JF5u-fdtO7ukoFpcVoH5frQs");
    background-position: center;
    background-attachment: fixed;
    background-size: 35%;
    height: 100%;
    width: auto;
}

.card-overlay {
    background: rgba(0, 0, 0, 0.7);
    height: 100%;
    width: auto;
}

.slogan {
    padding: 10px 10px;
    text-align: center;
    font-size: clamp(1.5rem, 0.5rem + 3vw, 5rem);
    font-weight: 600;
}

video {
    object-fit: cover;
    max-height: 75vh;
}

.section-style {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px 10% 0 10%;
    /* margin: 0 45px; */
}

.section-style>div {
    width: 100%;
    height: auto;
    margin: 0.85rem 30px;
}

.section-style .title {
    text-align: center;
    font-size: 2vw;
    padding: 35px;
    /* margin: 0 10%; */
    border-radius: 10px;
    display: block;
}

.section-style .text {
    text-align: center;
    font-size: 1.25rem;
}

.about-us .title {
    color: var(--purple);
    background-color: var(--yellow);
}

.our-beers .title {
    color: var(--purple);
    background-color: var(--yellow);
}

.our-beers {
    background-color: var(--purple);
    color: #fff;
}

.beer-cans>img {
    width: 30vw;
    height: auto;
    border-radius: 5%;
}

footer {
    font-size: 12px;
    padding: 10px;
    text-align: center;
    margin-top: auto;
    display: block;
    box-sizing: border-box;
    background-color: #000;
    color: #fff;
}

.grid-container-beers {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    max-width: 1000px;
    margin: 1rem auto;
    gap: 1rem;
}

.beer-card img {
    width: 100%;
    height: auto;
    border-radius: 7px;
}

@media (max-width: 1000px) {
    .section-style {
        flex-direction: column;
    }

    .our-beers {
        flex-direction: column-reverse;
    }

    .section-style .title {
        font-size: 1.25rem;
    }

    .grid-container-beers {
        grid-template-columns: repeat(2, 1fr);
        margin: 1rem;
    }

    .menu-item>a:hover {
        color: var(--yellow);
        box-shadow: inset 0 0 0 0 var(--yellow);
    }

 
}